
@{
    ViewBag.Title = "AddTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Additional CSS styles */
        .custom-container {
            margin-top: 50px; /* Adjust the top margin to move the container down */
            margin-left: 20px; /* Adjust the left margin to move the container to the left */
        }
    </style>
</head>
<body>

    <div class="container custom-container" style="margin-top:15px">
        <div class="row">
            <div class="col-sm-15">
                <form action=@Url.Action("AddTicket", "Ticket") method="post" ;">
                    <div class="form-group">
                        <label>Ticket Status:</label>
                        <select name="Ticket_Status" class="form-control">
                            <option value="1">Open</option>
                            <option value="2">In Progress</option>
                            <option value="3">Closed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ticket department:</label>
                        <select name="Id_department" class="form-control">
                            <option value="1">Technologies</option>
                            <option value="2">Sales</option>
                            <option value="3">Administration</option>
                            <option value="4">Marketing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>User ID:</label>
                        <input type="text" name="Id_User" class="form-control"><br>
                    </div>
                    <div class="form-group">
                        <label>Ticket Description:</label><br>
                        <textarea name="Ticket_Description" rows="3" cols="50" class="form-control"></textarea><br>
                    </div>
                    <div class="form-group">
                        <label>Ticket Resolution:</label><br>
                        <textarea name="Ticket_Resolution" rows="3" cols="50" class="form-control"></textarea><br>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary">
                    <a class="btn btn-warning" href="@Url.Action("Index", "Ticket")">Cancel ticket </a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>